/* ==========mirror-the-triangle========== */
.mirror-the-triangle-img-src_1::before {
  content: '';
  width: 100%;
  height: 100%;
  background-size: 100%;
  position: absolute;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../images/2euro.png);
}

.mirror-the-triangle_1 {
  top: 20%;
  left: 12%;
}
.mirror-the-triangle_2 {
  top: 40%;
  left: 12%;
}
.mirror-the-triangle_3 {
  top: 40%;
  left: 37%;
}
.mirror-the-triangle_4 {
  top: 60%;
  left: 12%;
}
.mirror-the-triangle_5 {
  top: 60%;
  left: 37%;
}

.mirror-the-triangle_6 {
  top: 60%;
  left: 62%;
}
