.open-the-envelope-img-src_1::before {
  content: '';
  width: 100%;
  height: 100%;
  background-size: 100%;
  position: absolute;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../images/one_yen_reverse.png);
}
/* ==========open-the-envelope=========== */

.open-the-envelope_1 {
  top: 30%;
  left: 12%;
}
.open-the-envelope_2 {
  top: 30%;
  left: 37%;
}
.open-the-envelope_3 {
  top: 30%;
  left: 62%;
}
.open-the-envelope_4 {
  top: 50%;
  left: 12%;
}
.open-the-envelope_5 {
  top: 50%;
  left: 37%;
}
.open-the-envelope_6 {
  top: 50%;
  left: 62%;
}
