/* ===========presidents-x-change======== */
.presidents-x-change-img-src_1::before {
  content: '';
  width: 100%;
  height: 100%;
  background-size: 100%;
  position: absolute;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../images/coin.png);
}
.presidents-x-change-img-src_2::before {
  content: '';
  width: 100%;
  height: 100%;
  background-size: 100%;
  position: absolute;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../images/half_dollar_obverse.png);
}

.presidents-x-change_1 {
  top: 30%;
  left: 25%;
}
.presidents-x-change_2 {
  top: 30%;
  left: 50%;
}
.presidents-x-change_3 {
  top: 50%;
  left: 25%;
}
.presidents-x-change_4 {
  top: 50%;
  left: 50%;
}
