/* ===========rectangle-to-triangle============ */
.rectangle-to-triangle-img-src_1::before {
  content: '';
  width: 100%;
  height: 100%;
  background-size: 100%;
  position: absolute;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../images/british1penny.png);
}

.rectangle-to-triangle_1 {
  top: 30%;
  left: 12%;
}
.rectangle-to-triangle_2 {
  top: 30%;
  left: 37%;
}
.rectangle-to-triangle_3 {
  top: 30%;
  left: 62%;
}
.rectangle-to-triangle_4 {
  top: 50%;
  left: 12%;
}
.rectangle-to-triangle_5 {
  top: 50%;
  left: 37%;
}
.rectangle-to-triangle_6 {
  top: 50%;
  left: 62%;
}
