/* ==========itr_coin_wrap============= */
.wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.itr_coin_wrap {
  position: relative;
  /* display: flex; */
  /* align-items: center; */
  /* width: 100%; */
  margin: 20px;
  /* height: 287px; */
  /* border-radius: 15px 15px 0 0;
  background-color: #1a385e; */
}
p {
  text-align: center;
}

.itr_coin--width {
  display: flex;
  width: 120px;
  height: 150px;
  /* background-color: red; */
  background-color: #273763;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
@media screen and (min-width: 640px) {
  .itr_coin--width {
    width: 200px;
    height: 250px;
  }
}

.itr_coin_elem {
  position: absolute;
  display: flex;
  width: 25%;
  height: auto;
}
.itr_coin_img {
  width: 100%;
  height: auto;
}
/* ======================================= */

/* ==========arrow_down========== */

.arrow-down_1 {
  top: 16%;
  left: 37.9%;
}
.arrow-down_2 {
  top: 30.1%;
  left: 20.2%;
}
.arrow-down_3 {
  top: 30.1%;
  left: 55.6%;
}
.arrow-down_4 {
  top: 44%;
  left: 2.5%;
}
.arrow-down_5 {
  top: 44%;
  left: 38%;
}
.arrow-down_6 {
  top: 44%;
  left: 73.5%;
}
.arrow-down_7 {
  top: 64%;
  left: 38%;
}

/* =========move-the-dot======== */

.move-the-dot_1 {
  top: 20%;
  left: 38%;
}
.move-the-dot_2 {
  top: 20%;
  left: 63%;
}
.move-the-dot_3 {
  top: 40%;
  left: 63%;
}
.move-the-dot_4 {
  top: 40%;
  left: 38%;
}
.move-the-dot_5 {
  top: 60.5%;
  left: 12.5%;
}

/* ==========l-tetromino-flip=========== */

.l-tetromino-flip_1 {
  top: 20%;
  left: 25%;
}

.l-tetromino-flip_2 {
  top: 40%;
  left: 25%;
}
.l-tetromino-flip_3 {
  top: 60%;
  left: 25%;
}
.l-tetromino-flip_4 {
  top: 60%;
  left: 50%;
}

/* =========s-tetromino-flip========= */

.s-tetromino-flip_1 {
  top: 20%;
  left: 25%;
}

.s-tetromino-flip_2 {
  top: 40%;
  left: 25%;
}
.s-tetromino-flip_3 {
  top: 40%;
  left: 50%;
}
.s-tetromino-flip_4 {
  top: 60%;
  left: 50%;
}

/* =========sailing-east========= */

.sailing-east_1 {
  top: 0%;
  left: 38%;
}
.sailing-east_2 {
  top: 20%;
  left: 38%;
}
.sailing-east_3 {
  top: 20%;
  left: 13%;
}
.sailing-east_4 {
  top: 40%;
  left: 13%;
}
.sailing-east_5 {
  top: 40%;
  left: 38%;
}
.sailing-east_6 {
  top: 60%;
  left: 38%;
}
.sailing-east_7 {
  top: 62.5%;
  left: 1%;
}
.sailing-east_8 {
  top: 80%;
  left: 13%;
}
.sailing-east_9 {
  top: 80%;
  left: 38%;
}
.sailing-east_10 {
  top: 80%;
  left: 63%;
}
.sailing-east_11 {
  top: 62.5%;
  left: 75%;
}

/* ========sailing-west========= */

.sailing-west_1 {
  top: 0%;
  left: 38%;
}
.sailing-west_2 {
  top: 20%;
  left: 38%;
}
.sailing-west_3 {
  top: 20%;
  left: 63%;
}
.sailing-west_4 {
  top: 40%;
  left: 63%;
}
.sailing-west_5 {
  top: 40%;
  left: 38%;
}
.sailing-west_6 {
  top: 60%;
  left: 38%;
}
.sailing-west_7 {
  top: 62.5%;
  left: 1%;
}
.sailing-west_8 {
  top: 80%;
  left: 13%;
}
.sailing-west_9 {
  top: 80%;
  left: 38%;
}
.sailing-west_10 {
  top: 80%;
  left: 63%;
}
.sailing-west_11 {
  top: 62.5%;
  left: 75%;
}

/* =========the-vase========= */

.the-vase_1 {
  top: 20%;
  left: 25%;
}
.the-vase_2 {
  top: 20%;
  left: 50%;
}
.the-vase_3 {
  top: 40%;
  left: 25%;
}
.the-vase_4 {
  top: 40%;
  left: 50%;
}
.the-vase_5 {
  top: 60%;
  left: 25%;
}
.the-vase_6 {
  top: 60%;
  left: 50%;
}

/* ===========pound-to-euro========== */

.pound-to-euro_1 {
  top: 3.5%;
  left: 50%;
}
.pound-to-euro_2 {
  top: 3.5%;
  left: 25%;
}
.pound-to-euro_3 {
  top: 20.5%;
  left: 12.5%;
}
.pound-to-euro_4 {
  top: 40.5%;
  left: 12.5%;
}
.pound-to-euro_5 {
  top: 50.3%;
  left: 34%;
}
.pound-to-euro_6 {
  top: 60.5%;
  left: 12.5%;
}
.pound-to-euro_7 {
  top: 77.5%;
  left: 0%;
}
.pound-to-euro_8 {
  top: 77.5%;
  left: 25%;
}
.pound-to-euro_9 {
  top: 77.5%;
  left: 50%;
}
.pound-to-euro_10 {
  top: 77.5%;
  left: 75%;
}

/* =========y-upside-down========= */

.y-upside-down_1 {
  top: 15%;
  left: 15.5%;
}

.y-upside-down_2 {
  top: 15%;
  left: 59.5%;
}
.y-upside-down_3 {
  top: 35%;
  left: 15.5%;
}
.y-upside-down_4 {
  top: 35%;
  left: 59.5%;
}
.y-upside-down_5 {
  top: 44%;
  left: 37.5%;
}
.y-upside-down_6 {
  top: 64%;
  left: 37.5%;
}

/* ==========glass-to-cup========== */

.glass-to-cup_1 {
  top: 20%;
  left: 25%;
}
.glass-to-cup_2 {
  top: 20%;
  left: 50%;
}
.glass-to-cup_3 {
  top: 40%;
  left: 25%;
}
.glass-to-cup_4 {
  top: 40%;
  left: 50%;
}
.glass-to-cup_5 {
  top: 60%;
  left: 25%;
}
.glass-to-cup_6 {
  top: 60%;
  left: 50%;
}

/* =========eight-to-g========= */

.eight-to-g_1 {
  top: 20%;
  left: 13%;
}
.eight-to-g_2 {
  top: 20%;
  left: 38%;
}
.eight-to-g_3 {
  top: 40%;
  left: 13%;
}
.eight-to-g_4 {
  top: 40%;
  left: 38%;
}
.eight-to-g_5 {
  top: 40%;
  left: 63%;
}
.eight-to-g_6 {
  top: 60%;
  left: 38%;
}
.eight-to-g_7 {
  top: 60%;
  left: 63%;
}

/* ===========rectangle-to-triangle============ */

.rectangle-to-triangle_1 {
  top: 30%;
  left: 12%;
}
.rectangle-to-triangle_2 {
  top: 30%;
  left: 37%;
}
.rectangle-to-triangle_3 {
  top: 30%;
  left: 62%;
}
.rectangle-to-triangle_4 {
  top: 50%;
  left: 12%;
}
.rectangle-to-triangle_5 {
  top: 50%;
  left: 37%;
}
.rectangle-to-triangle_6 {
  top: 50%;
  left: 62%;
}

/* ==========mirror-the-triangle========== */

.mirror-the-triangle_1 {
  top: 20%;
  left: 12%;
}
.mirror-the-triangle_2 {
  top: 40%;
  left: 12%;
}
.mirror-the-triangle_3 {
  top: 40%;
  left: 37%;
}
.mirror-the-triangle_4 {
  top: 60%;
  left: 12%;
}
.mirror-the-triangle_5 {
  top: 60%;
  left: 37%;
}

.mirror-the-triangle_6 {
  top: 60%;
  left: 62%;
}

/* ==========rhombus-to-triangle========== */

.rhombus-to-triangle_1 {
  top: 22.5%;
  left: 0%;
}
.rhombus-to-triangle_2 {
  top: 22.5%;
  left: 25%;
}
.rhombus-to-triangle_3 {
  top: 22.5%;
  left: 50%;
}
.rhombus-to-triangle_4 {
  top: 39.8%;
  left: 12.6%;
}
.rhombus-to-triangle_5 {
  top: 39.8%;
  left: 37.6%;
}
.rhombus-to-triangle_6 {
  top: 39.8%;
  left: 62.6%;
}
.rhombus-to-triangle_7 {
  top: 57%;
  left: 25%;
}
.rhombus-to-triangle_8 {
  top: 57%;
  left: 50%;
}
.rhombus-to-triangle_9 {
  top: 57%;
  left: 75%;
}

/* ===========trapezoid-to-arch=========== */

.trapezoid-to-arch_1 {
  top: 30%;
  left: 37%;
}
.trapezoid-to-arch_2 {
  top: 40%;
  left: 15.6%;
}
.trapezoid-to-arch_3 {
  top: 50%;
  left: 37%;
}
.trapezoid-to-arch_4 {
  top: 40%;
  left: 58.6%;
}
.trapezoid-to-arch_5 {
  top: 60%;
  left: 15.6%;
}

/* ============four-coins-to-arch========== */

.four-coins-to-arch_1 {
  top: 32%;
  left: 31%;
}
.four-coins-to-arch_2 {
  top: 32%;
  left: 56%;
}
.four-coins-to-arch_3 {
  top: 49.4%;
  left: 18.5%;
}
.four-coins-to-arch_4 {
  top: 49.4%;
  left: 43.5%;
}

/* =========anchor-upside-down========== */

.anchor-upside-down_1 {
  top: 10%;
  left: 37.5%;
}
.anchor-upside-down_2 {
  top: 30%;
  left: 37.5%;
}
.anchor-upside-down_3 {
  top: 60%;
  left: 16%;
}
.anchor-upside-down_4 {
  top: 70%;
  left: 37.5%;
}
.anchor-upside-down_5 {
  top: 60%;
  left: 58.7%;
}

/* ==========shrink-the-square========== */

.shrink-the-square_1 {
  top: 12%;
  left: 70%;
}

.shrink-the-square_2 {
  top: 12%;
  left: 37.5%;
}

.shrink-the-square_3 {
  top: 12%;
  left: 5%;
}

.shrink-the-square_4 {
  top: 38%;
  left: 5%;
}

.shrink-the-square_5 {
  top: 64%;
  left: 5%;
}

.shrink-the-square_6 {
  top: 64%;
  left: 37.5%;
}

.shrink-the-square_7 {
  top: 64%;
  left: 70%;
}

.shrink-the-square_8 {
  top: 38%;
  left: 70%;
}

/* ==========open-the-envelope=========== */

.open-the-envelope_1 {
  top: 30%;
  left: 12%;
}
.open-the-envelope_2 {
  top: 30%;
  left: 37%;
}
.open-the-envelope_3 {
  top: 30%;
  left: 62%;
}
.open-the-envelope_4 {
  top: 50%;
  left: 12%;
}
.open-the-envelope_5 {
  top: 50%;
  left: 37%;
}
.open-the-envelope_6 {
  top: 50%;
  left: 62%;
}

/* ===========fourth-of-july============= */

.fourth-of-july_1 {
  top: 12%;
  left: 12%;
}
.fourth-of-july_2 {
  top: 12%;
  left: 37%;
}
.fourth-of-july_3 {
  top: 12%;
  left: 62%;
}
.fourth-of-july_4 {
  top: 32%;
  left: 62%;
}
.fourth-of-july_5 {
  top: 52%;
  left: 62%;
}
.fourth-of-july_6 {
  top: 69.3%;
  left: 49.5%;
}
.fourth-of-july_7 {
  top: 69.3%;
  left: 24.5%;
}
.fourth-of-july_8 {
  top: 52%;
  left: 12%;
}

/* ==========euro-to-dollar======== */

.euro-to-dollar_1 {
  top: 0%;
  left: 61%;
}
.euro-to-dollar_2 {
  top: 0%;
  left: 36%;
}
.euro-to-dollar_3 {
  top: 10%;
  left: 14.5%;
}
.euro-to-dollar_4 {
  top: 30%;
  left: 14.5%;
}
.euro-to-dollar_5 {
  top: 40%;
  left: 36%;
}
.euro-to-dollar_6 {
  top: 50%;
  left: 14.5%;
}
.euro-to-dollar_7 {
  top: 70%;
  left: 14.5%;
}
.euro-to-dollar_8 {
  top: 80%;
  left: 36%;
}
.euro-to-dollar_9 {
  top: 80%;
  left: 61%;
}

/* =========mirror-the-snake========== */

.mirror-the-snake_1 {
  top: 10%;
  left: 16.5%;
}
.mirror-the-snake_2 {
  top: 30%;
  left: 16.5%;
}
.mirror-the-snake_3 {
  top: 40%;
  left: 38%;
}
.mirror-the-snake_4 {
  top: 50%;
  left: 59.5%;
}
.mirror-the-snake_5 {
  top: 70%;
  left: 59.5%;
}

/* ==========unboxing-the-tree========= */

.unboxing-the-tree_1 {
  top: 20%;
  left: 38%;
}
.unboxing-the-tree_2 {
  top: 30%;
  left: 60%;
}
.unboxing-the-tree_3 {
  top: 50%;
  left: 60%;
}
.unboxing-the-tree_4 {
  top: 60%;
  left: 38%;
}
.unboxing-the-tree_5 {
  top: 50%;
  left: 16%;
}
.unboxing-the-tree_6 {
  top: 30%;
  left: 16%;
}
.unboxing-the-tree_7 {
  top: 40%;
  left: 38%;
}

/* ==========flip-angle========== */

.flip-angle_1 {
  top: 11%;
  left: 25%;
}
.flip-angle_2 {
  top: 28%;
  left: 38%;
}
.flip-angle_3 {
  top: 48%;
  left: 38%;
}
.flip-angle_4 {
  top: 68%;
  left: 38%;
}

/* ==========c-dot======== */

.c-dot_1 {
  top: 20%;
  left: 50%;
}
.c-dot_2 {
  top: 20%;
  left: 25%;
}
.c-dot_3 {
  top: 20%;
  left: 0%;
}
.c-dot_4 {
  top: 40%;
  left: 0%;
}
.c-dot_5 {
  top: 60%;
  left: 0%;
}
.c-dot_6 {
  top: 60%;
  left: 25%;
}
.c-dot_7 {
  top: 60%;
  left: 50%;
}
.c-dot_8 {
  top: 60%;
  left: 80%;
}

/* ============nine-to-zero=========== */

.nine-to-zero_1 {
  top: 10%;
  left: 60%;
}
.nine-to-zero_2 {
  top: 0%;
  left: 38%;
}
.nine-to-zero_3 {
  top: 10%;
  left: 16%;
}
.nine-to-zero_4 {
  top: 30%;
  left: 16%;
}
.nine-to-zero_5 {
  top: 40%;
  left: 38%;
}
.nine-to-zero_6 {
  top: 30%;
  left: 60%;
}
.nine-to-zero_7 {
  top: 50%;
  left: 60%;
}
.nine-to-zero_8 {
  top: 70%;
  left: 60%;
}
.nine-to-zero_9 {
  top: 80%;
  left: 38%;
}
.nine-to-zero_10 {
  top: 70%;
  left: 16%;
}

/* ==========dollar-to-euro============ */

.dollar-to-euro_1 {
  top: 4.5%;
  left: 50%;
}
.dollar-to-euro_2 {
  top: 4.5%;
  left: 25%;
}
.dollar-to-euro_3 {
  top: 22%;
  left: 13%;
}
.dollar-to-euro_4 {
  top: 39.7%;
  left: 25%;
}
.dollar-to-euro_5 {
  top: 39.7%;
  left: 50%;
}
.dollar-to-euro_6 {
  top: 57.6%;
  left: 62%;
}
.dollar-to-euro_7 {
  top: 75.5%;
  left: 50%;
}
.dollar-to-euro_8 {
  top: 75.5%;
  left: 25%;
}

/* ============x-coin-challenge========== */

.x-coin-challenge_1 {
  top: 23%;
  left: 25.5%;
}
.x-coin-challenge_2 {
  top: 23%;
  left: 50.5%;
}
.x-coin-challenge_3 {
  top: 40%;
  left: 38%;
}
.x-coin-challenge_4 {
  top: 57.4%;
  left: 25.5%;
}
.x-coin-challenge_5 {
  top: 57.4%;
  left: 50.5%;
}

/* ==========cup-to-bowl========== */

.cup-to-bowl_1 {
  top: 30%;
  left: 12%;
}
.cup-to-bowl_2 {
  top: 50%;
  left: 12%;
}
.cup-to-bowl_3 {
  top: 50%;
  left: 37%;
}
.cup-to-bowl_4 {
  top: 50%;
  left: 62%;
}
.cup-to-bowl_5 {
  top: 30%;
  left: 62%;
}

/* ===========up-and-down=========== */

.up-and-down_1 {
  top: 23%;
  left: 37.5%;
}
.up-and-down_2 {
  top: 40%;
  left: 25%;
}
.up-and-down_3 {
  top: 40%;
  left: 50%;
}
.up-and-down_4 {
  top: 57.5%;
  left: 12.5%;
}
.up-and-down_5 {
  top: 57.5%;
  left: 37.5%;
}
.up-and-down_6 {
  top: 57.5%;
  left: 62.5%;
}

/* ===========growing-the-tree============ */

.growing-the-tree_1 {
  top: 20%;
  left: 12%;
}
.growing-the-tree_2 {
  top: 20%;
  left: 37%;
}
.growing-the-tree_3 {
  top: 20%;
  left: 62%;
}
.growing-the-tree_4 {
  top: 40%;
  left: 62%;
}
.growing-the-tree_5 {
  top: 60%;
  left: 62%;
}
.growing-the-tree_6 {
  top: 60%;
  left: 37%;
}
.growing-the-tree_7 {
  top: 60%;
  left: 12%;
}
.growing-the-tree_8 {
  top: 40%;
  left: 12%;
}

/* =============unlock-the-key-part-2============ */

.unlock-the-key-part-2_1 {
  top: 12%;
  left: 37.5%;
}
.unlock-the-key-part-2_2 {
  top: 25.3%;
  left: 55.6%;
}
.unlock-the-key-part-2_3 {
  top: 39.5%;
  left: 73.5%;
}
.unlock-the-key-part-2_4 {
  top: 53.5%;
  left: 55.6%;
}
.unlock-the-key-part-2_5 {
  top: 67%;
  left: 37.5%;
}
.unlock-the-key-part-2_6 {
  top: 53.5%;
  left: 19%;
}
.unlock-the-key-part-2_7 {
  top: 39.5%;
  left: 1.5%;
}
.unlock-the-key-part-2_8 {
  top: 25.3%;
  left: 19%;
}

/* =========unlock-the-key-part-1=========== */

.unlock-the-key-part-1_1 {
  top: 20%;
  left: 12%;
}
.unlock-the-key-part-1_2 {
  top: 20%;
  left: 37%;
}
.unlock-the-key-part-1_3 {
  top: 20%;
  left: 62%;
}
.unlock-the-key-part-1_4 {
  top: 40%;
  left: 62%;
}
.unlock-the-key-part-1_5 {
  top: 60%;
  left: 62%;
}
.unlock-the-key-part-1_6 {
  top: 60%;
  left: 37%;
}
.unlock-the-key-part-1_7 {
  top: 60%;
  left: 12%;
}
.unlock-the-key-part-1_8 {
  top: 40%;
  left: 12%;
}

/* =========the-chevron-challenge========== */

.the-chevron-challenge_1 {
  top: 19%;
  left: 38%;
}
.the-chevron-challenge_2 {
  top: 33.2%;
  left: 20%;
}
.the-chevron-challenge_3 {
  top: 33.2%;
  left: 56%;
}
.the-chevron-challenge_4 {
  top: 47%;
  left: 38%;
}
.the-chevron-challenge_5 {
  top: 61%;
  left: 20%;
}
.the-chevron-challenge_6 {
  top: 61%;
  left: 56%;
}

/* ==========revealing-the-pyramid========== */

.revealing-the-pyramid_1 {
  top: 23%;
  left: 25.5%;
}
.revealing-the-pyramid_2 {
  top: 23%;
  left: 50.5%;
}
.revealing-the-pyramid_3 {
  top: 40%;
  left: 13%;
}
.revealing-the-pyramid_4 {
  top: 40%;
  left: 38%;
}
.revealing-the-pyramid_5 {
  top: 40%;
  left: 63%;
}
.revealing-the-pyramid_6 {
  top: 57%;
  left: 25.5%;
}
.revealing-the-pyramid_7 {
  top: 57%;
  left: 50.5%;
}

/* ==========uncovering-octagon========= */

.uncovering-octagon_1 {
  top: 21%;
  left: 24%;
}
.uncovering-octagon_2 {
  top: 21%;
  left: 49%;
}
.uncovering-octagon_3 {
  top: 38.5%;
  left: 12%;
}
.uncovering-octagon_4 {
  top: 38.5%;
  left: 37%;
}
.uncovering-octagon_5 {
  top: 38.5%;
  left: 62%;
}
.uncovering-octagon_6 {
  top: 58.5%;
  left: 12%;
}
.uncovering-octagon_7 {
  top: 58.5%;
  left: 37%;
}
.uncovering-octagon_8 {
  top: 58.5%;
  left: 62%;
}

/* =========house-downsizing========== */

.house-downsizing_1 {
  top: 13%;
  left: 36.6%;
}
.house-downsizing_2 {
  top: 30%;
  left: 24%;
}
.house-downsizing_3 {
  top: 30%;
  left: 49%;
}
.house-downsizing_4 {
  top: 47.5%;
  left: 12%;
}
.house-downsizing_5 {
  top: 47.5%;
  left: 61.5%;
}
.house-downsizing_6 {
  top: 67.5%;
  left: 12%;
}
.house-downsizing_7 {
  top: 67.5%;
  left: 61.5%;
}
