/* ==========the-delta-unfold========= */

.the-delta-unfold-img-src_1::before {
  content: '';
  width: 100%;
  height: 100%;
  background-size: 100%;
  position: absolute;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../images/half_dollar_obverse.png);
}
.the-delta-unfold_1 {
  top: 24%;
  left: 37.3%;
}
.the-delta-unfold_2 {
  top: 38%;
  left: 19.5%;
}
.the-delta-unfold_3 {
  top: 38%;
  left: 55%;
}
.the-delta-unfold_4 {
  top: 57.5%;
  left: 13%;
}
.the-delta-unfold_5 {
  top: 52%;
  left: 37%;
}
.the-delta-unfold_6 {
  top: 57.5%;
  left: 61%;
}
