/* =========unlock-the-key-part-1=========== */
.unlock-the-key-part-1-img-src_1::before {
  content: '';
  width: 100%;
  height: 100%;
  background-size: 100%;
  position: absolute;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../images/half_dollar_obverse.png);
}

.unlock-the-key-part-1_1 {
  top: 20%;
  left: 12%;
}
.unlock-the-key-part-1_2 {
  top: 20%;
  left: 37%;
}
.unlock-the-key-part-1_3 {
  top: 20%;
  left: 62%;
}
.unlock-the-key-part-1_4 {
  top: 40%;
  left: 62%;
}
.unlock-the-key-part-1_5 {
  top: 60%;
  left: 62%;
}
.unlock-the-key-part-1_6 {
  top: 60%;
  left: 37%;
}
.unlock-the-key-part-1_7 {
  top: 60%;
  left: 12%;
}
.unlock-the-key-part-1_8 {
  top: 40%;
  left: 12%;
}
