/* ===========up-and-down=========== */
.up-and-down-img-src_1::before {
  content: '';
  width: 100%;
  height: 100%;
  background-size: 100%;
  position: absolute;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../images/british1penny.png);
}

.up-and-down_1 {
  top: 23%;
  left: 37.5%;
}
.up-and-down_2 {
  top: 40%;
  left: 25%;
}
.up-and-down_3 {
  top: 40%;
  left: 50%;
}
.up-and-down_4 {
  top: 57.5%;
  left: 12.5%;
}
.up-and-down_5 {
  top: 57.5%;
  left: 37.5%;
}
.up-and-down_6 {
  top: 57.5%;
  left: 62.5%;
}
